@import "../../scss/variables";

.pagination {
    display: flex;
    justify-content: center;
    padding-left: 0;
    list-style: none;
    li.page-item.active {
        a.page-link {
            color: saturate(darken($base-color, 50%), 5%) !important;
            background-color: saturate(
                lighten($base-color, 7.5%),
                2.5%
            ) !important;
            border-color: $base-color !important;
        }
    }

    a.page-link {
        padding: 0.75rem 1rem;
        min-width: 3.5rem;
        text-align: center;
        box-shadow: none !important;
        border-color: $base-color !important;
        color: saturate(darken($base-color, 30%), 10%);
        font-size: 1rem;

        &:hover {
            background-color: $light-background;
        }
    }
}
