@import "../../scss/mixins";

.search-wrap {
    margin-bottom: 1em;
    display: flex;
    align-items: center;
}

.search-input {
    height: 2em;
    flex-grow: 1;
    font-size: 16px;
    margin-right: 1em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--customDark);
    background: transparent;
    transition: border-color 0.3s ease-in;
    font-family: "Neucha", cursive;
    &:focus {
        border-bottom: 1px solid var(--customYellow);
    }
}

.search-button {
    @include button();
}

.sorting-fieldset {
    border: none;
    margin: 0 0 2em;
    padding: 0;
}

.sorting-legend {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 1em;
}

.sorting-label {
    display: flex;
    margin-bottom: 0.5em;
    font-size: 16px;
    &:last-child {
        margin-bottom: 0;
    }
}

/* radio buttons styling */

.filter-input {
    @include visuallyHidden();
}

.sorting-label-text {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5em;
    height: 1.5em;
    margin-right: 1em;
    border: 1px solid var(--customYellow);
    border-radius: 2px;
    transition: border-color 0.3s ease-in;

    &:before {
        content: "";
        width: 5px;
        height: 11px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        opacity: 0;
    }
}

.filter-input:checked + .sorting-label-text {
    background-color: var(--customYellow);
}

.filter-input:checked + .sorting-label-text:before {
    opacity: 1;
}

.filter-input:focus + .sorting-label-text {
    outline: -webkit-focus-ring-color auto 5px;
}

.filter-input:-moz-focusring + .sorting-label-text {
    outline: 1px dotted;
}

.reset-filter-button {
    @include button();
}
