/* my color palette variables */

:root {
    --text-color: #222f3e;
    --section-color: #54a0ff;
    --border-color: #c8d6e5;
    --custom-red: #ff6b6b;
    --main-bg: #dfe4ea;
    --base-color: #ced4da;
    --light-background: lighten(desaturate($base-color, 50%), 12.5%);
    --customYellow: rgb(255, 152, 0);
    --customDark: rgb(32, 35, 41);
}

body {
    margin: 0;
    padding: 0;
    font-family: "Neucha", cursive !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

/* basic reset */

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 14px;
}

body {
    font-weight: normal;
    font-style: normal;
    color: var(--text-color);
    min-height: 100vh;
    background-color: var(--main-bg);
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
    margin: 0;
}

section {
    font-size: 1rem;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:active,
a:focus,
a:visited {
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
}

p {
    line-height: 1.5;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.row {
    display: flex;
}

.filter-panel {
    max-width: 25%;
    flex-grow: 1;
}

.characters-panel {
    max-width: 75%;
    flex-grow: 3;
}

.main-content,
.page-section {
    padding-top: 1.5em;
}

.main-content {
    padding-top: 120px;
}

.aside {
    position: fixed;
}

.section-title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}
